@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Roboto:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.row {
    width: 100%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

nav {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
    background-color: #cafdff;
}
header {
    background-color: #eadcff;
    height: calc(100vh - 70px);
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    font-size: 72px;
}
.subheader {
    font-size: 36px;
    margin: 16px 0px 24px 0px;
}
button {
    background-color: #05c7cf;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}
a {
    color: black;
    font-size: 24px;
    font-weight: 700;
    font-size: 24px;
}
.logo {
    width: 300px;
}
ul {
    display: flex;
    
}
li {
    list-style-type: none;
    padding-left: 16px;
}
/* 

ABOUT

*/

#about,
#discord,
#contact,
footer {
    padding: 48px 0px;
    
}
#about {
    background-color: #f8ffdc;
}
h2 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 24px;
}
.section_description {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section_description_wrapper {
    width: 60%;
    padding: 0px 24px;
}
.about_img-wrapper {
    width: 40%;
    padding: 0px 24px;
}
img {
    width: 100%;
}
.section_description_para {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 24px;
}
/* 
DISCORD
*/
#discord {
    background-color: #cefeff;
}
/* 
CONTACT
*/
#contact {
    background-color: #dce9ff;
}
/*
FORM 
 */
form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 0px 24px;
}
input, textarea {
    margin-bottom: 24px;
    font-size: 20px;
    padding: 6px, 12px;
}
/* 
FOOTER
*/
footer {
    background-color: #aaf5ff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_logo {
    max-width: 480px;
    margin-bottom: 16px;
}
.footer_links {
    margin-bottom: 32px;
}
.footer_link {
    padding: 0px 16px;
}
/* 728px-SMALL PHONES, TABLETS, LARGE SMARTPHONES */

@media (max-width: 728px) {
    .row {
        flex-direction: column;
    }
    .home_description {
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    h1 {
        font-size: 40px;
        text-align: center;
    }
    .subheader {
        font-size: 28px;
        text-align: center;
    }
    .home_description_button {
        max-width: 240px;
    }
    ul {
        display: none;
    }
    .section_description {
        display: flex;
        flex-direction: column;
    }
    .section_description_wrapper {
        width: 100%;
    }
    .about_img-wrapper {
        width: 100%;
    }
    #discord .section_description {
        flex-direction: column-reverse;
    }
    .footer {
        padding: 48px 24px;
    }
    .footer_logo {
        max-width: 360px;
    }
    .footer_link {
        padding: 0px 8px;
        font-size: 18px;
    }
    .footer_links {
        margin-bottom: 24px;
    }
}